body {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

@mixin gambar($width: 100px, $height: 100px, $gambar: url("../img/gambar1.png"), $mode: false) {
    background-image: $gambar;
    background-size: cover;
    width: $width;
    height: $height;

    @if $mode {
        background-position: 0px -86px;
        border-radius: 10%;
    }
}

@mixin text () {
    background-color: rgb(249, 144, 7);
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    width: 50%;
}

$whitebgc: rgb(255, 254, 254);

@mixin header($bool: true) {
    width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    @if $bool {
        box-shadow: 0px 40px 100px white;
        background-color: rgb(255, 254, 254);

        .judul {
            text-decoration: underline;
            font-family: monospace;
        }
    }

    @else {
        box-shadow: 0px 40px 100px rgb(39, 36, 36);
        background-color: rgb(27, 22, 22);

        .judul {
            text-decoration: underline;
            font-family: monospace;
            color: aliceblue;
        }
    }





    .gambar-footer {
        @include gambar();

    }

    .mode {
        padding-right: 10%;
        flex-grow: 8;
        text-align: end;

        button {
            background-color: aquamarine;
            padding: 5px 10px;
            border: 1px solid black;
            border-radius: 5px;
            transition: 1s;
        }

        button:hover {
            background-color: rgb(199, 234, 222);
        }
    }
}

@mixin colorList($color: salmon) {
    color: $color;
}

@mixin main($bool1: false) {
    padding: 20px;

    @if $bool1 {
        background-color: rgb(13, 12, 12);
    }

    .gambar-main {
        margin: 0px auto;
        @include gambar(600px, 430px, url("../img/gambar.jpg"), $mode: true);

    }

    .text {
        display: flex;
        margin-top: 50px;

        .text1 {
            @include text()
        }

        .text2 {
            @include text()
        }
    }






    .list {
        .list1 {
            margin-top: 30px;
            padding: 20px;

            @for $a from 1 to 10 {
                ul {
                    li:nth-child(#{$a}) {
                        text-align: center;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        padding: 5px;
                        list-style: none;
                        //lighten & darken
                        //! ini akan menghasilkan list yang unik karena adanya pemecehan fungsi radiuspun beralih
                        background-color: lighten($color: salmon, $amount: $a *2);
                        border-radius: 5px;
                    }
                }
            }
        }

        .list2 {

            ul {
                .instragram {
                    margin: 5px;

                    a {
                        @include colorList(salmon)
                    }
                }

                .facebook {
                    margin: 5px;

                    a {
                        @include colorList(rgb(29, 29, 247))
                    }
                }
            }
        }
    }
}

.list1nya {
    $b: 1;

    @while $b < 21 {
        span:nth-child(#{$b}) {
            cursor: pointer;
            color: darken($color: rebeccapurple, $amount: $b * 2%);
            text-shadow: 3px 2px 10px darken($color: rebeccapurple, $amount: $b * 2%);
            transition: 1s;
        }


        span:nth-child(#{$b}):hover {
            font-size: 30px;
            color: darken($color: rgb(189, 169, 209), $amount: $b * 2%);
            text-shadow: 3px 2px 10px darken($color: rgb(214, 209, 219), $amount: $b * 2%);
        }

        $b: $b +1;
    }
}

header {
    footer {
        .container {
            @include header()
        }

        .containernya {
            @include header($bool: false)
        }
    }
}

main {

    article {
        .container1 {
            @include main()
        }

        .container1nya {
            @include main($bool1: true)
        }


    }
}